<head>
	<title>About Us</title>
</head>

<h1>About Us</h1>
<p>
  <div class="center">
  	The WAFFLE Project was created by a team at Franklin and Marshall College, comprised of Eliot Stone, Allison Troy, and Steele Schauer. The project currently has one study - Affective Forecasting of Future Life Events.
  </div>
  <br /> The acronym WAFFLE stands for: <br /><br />
  <strong>W</strong>eb application for <br />
  <strong>A</strong>ffective <br />
  <strong>F</strong>orecasting of <br />
  <strong>F</strong>uture <br />
  <strong>L</strong>ife<br />
  <strong>E</strong>vents<br /><br />
  <div class="center">
	  More information to come in the future.
  </div>
</p>

<%= render 'shared/logos' %>