<head>
	<title>About Us</title>
</head>

<h1>About Us</h1>
<p>
	This is the WAFFLE Project. Created by a team at Franklin and Marshall College comprised of Eliot Stone, Allison Troy, and Steele Schauer. <br />
	More information to come in the future.
</p>

<!--Find me in app/views/static_pages/about.html.erb-->
