<head>
	<title>Contact</title>
</head>
<h1>Contact Us</h1>
<p>
	Contact the WAFFLE Team at Franklin and Marshall College by emailing emotionlab@fandm.edu or go to the 	<a href="http://fandm.edu">Franklin and Marshal College</a> webpage.
</p>

<%= render 'shared/logos' %>
