<head>
	<title>Help</title>
</head>
<h1>Help</h1>
  <h2>Frequently Asked Questions</h2>
    <p> 
      Where is the log out button? <br />
      The log out button is located in the drop-down menu that is accessed by clicking on your email. It is located in the top right corner of every page (including this one), in the header. <br /> <br />
      How long am I logged into my account? <br />
      You are logged into your account unless you log out manually. This was designed for the ease of the user (likely you) but can be less secure. Please log out after each session unless you are sure your computer is secure and never give out your password to anyone.
    </p>
    <br />
  <h2>Other Questions?</h2>
    <p>
    	For help, contact the WAFFLE Team at Franklin and Marshall College by emailing sschauer@fandm.edu
    </p>

<%= render 'shared/logos' %>
