<head>
	<title>Waffle Home</title>
</head>

<div class="center hero-unit">
	<h1>Welcome to the WAFFLE Project</h1>

	<h2>
		Created by the EmoLab at Franklin and Marshall College.
	</h2>

	<%= link_to "Sign up now!", sign_up_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Log in", log_in_path, class: "btn btn-large btn-primary" %>
</div>

<%= render 'shared/logos' %>
