<head>
	<title>Edit Choice</title>
</head>

<h1>Update your Choice</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for ([@question, @choice]) do |f| %>
			<%= render 'shared/choice_error_messages' %>
			<%= render 'choice_types' %>

		<% end %>
	</div>
</div>

<%= render 'shared/logos' %>