<!--this will be only for the admin-->
<head>
	<title>All users</title>
</head>
<h1>All users</h1>

<div>
  <% if current_user.admin? %>
    Format: Name | Email | State | Actions
  <% end %>
</div>

<%= will_paginate %>
<ul class="users">
 <%= render @users %> <! located at _user.html.erb > 
</ul>
<%= will_paginate %>
