<div class="panel-header waffle-header">
    <h1>User Home Page</h1>
</div>

<div class="panel-body">
    <% if @user.participants.length > 0 %>
        <%= render partial: 'pending_questionnaires', locals: { user: @user } %>

        You are participating in the following studies:
        <% current_user.participants.each do |participant| %>
            <%= render partial: 'study_participation',
                    locals: { participant: participant } %>
        <% end %>
    <% else %>
        You are not participating in any studies.
    <% end %>
</div>
