<div class="panel-header waffle-header">
    <h1>User Home Page</h1>
</div>

<div class="panel-body">
    You are participating in the following studies:
    <ul class="list-unstyled">
        <% current_user.studies.each do |study| %>
            <li><%= link_to study.title, study %></li>
        <% end %>
    </ul>
</div>
