<head>
	<title>User Home Page</title>
</head>

<h1>User Home Page</h1>

	<%= image_tag("waffle.png", size: "70x55", alt: "waffle") %>
	<div class="fandmLogo pull-right">
	<%= image_tag("fmlogo.jpg", size: "70x55", alt: "FandM") %>
	</div>

<div class="center">
		<section>
				You are currently involved in: <br />
				The Affective Forecasting of Future Life Events Study.
		</section>
</div>

<div id="userHome_nav">
	<% if current_user %>
		<%= link_to "Edit Account", edit_user_path(current_user) %><br />
		<%= link_to "Delete Account", current_user, :confirm => 
			"Are you sure?", :method => :delete %>
	<% end %>


		