<%= link_to image_tag("waffle.png", size: "70x55", alt: "Waffle"), about_path %>

<div class="fandmLogo pull-right">
  <%= link_to image_tag("fmlogo.jpg", size: "70x55", alt: "FandM"), 'http://www.fandm.edu/' %>
</div>