<% if current_user.admin? %>
  <strong><%= block.label %></strong><br />
  <% for question in block.questions %>
  <li><%=h question.text %></li>
  <% end %> 
  <%= link_to 'Edit', edit_block_path(block) %> |
  <%= link_to 'Delete', block, method: :delete, data: { confirm: 'Are you sure?'} %><br/>
<% end %><br />