<% if current_user %>
  <strong><%= block.label %></strong><br />
  <ol>
    <% for question in block.questions %>
    <li><%=h question.text %></li>
    <%= link_to 'Edit', edit_block_path(block) %>
    <% end %> 
  </ol>
<% elsif current_user.admin? %>
  | <%= link_to 'Delete', block, method: :delete, data: { confirm: 'Are you sure?'} %><br/>
<% else %>
<br/>
<% end %><br />