<p class="fields">
  <%= f.label :value, "Answer" %>
  <%= f.text_field :value %>
  <%= link_to_remove_fields "Remove Answer", f %>
  <%= f.hidden_field :participant_id, :value => @participant %>
</p>