<head>
  <title>New Study</title>
</head>

<h1>New Study</h1>

<div class="row">
  <div class="span5 offset3">
    <%= form_for @study do |f| %>
      <%= render 'shared/study_error_messages' %>
      <%= render 'form' %>
    <% end %>
  </div>
</div>
