<div class="panel-header waffle-header">
    <h1>Study Details</h1>
</div>

<div class="panel-body">
    <p>Study: <strong><%= @study.title %></strong></p>
    <% if @current_participant.nil? %>
      <%= button_to "Sign Up", participants_path(study_id: study.id) %>
    <% else %>
        <p>Signed Up: <%= @current_participant.created_at %></p>
        <%= render partial: "shared/take_questionnaire_banner",
            locals: { schedule_entries: 
                      [ @current_participant.next_schedule_entry ]
                    } %>
    <% end %>
</div>
