<div class="panel-header waffle-header">
    <h1>Study Details</h1>
</div>

<div class="panel-body">
    <p>Study: <strong><%= @study.title %></strong></p>
    <% if @current_participant.nil? %>
        <%= link_to "Sign Up", controller: :participant, action: :sign_up,
            study_id: @study.id %>
    <% else %>
        <p>Signed Up: <%= @current_participant.created_at %></p>
        <% if !@current_participant.next_questionnaire.nil? %>
            <p>Next Questionnaire</p>
        <% end %>
    <% end %>
</div>
