<head>
	<title>Edit Questionnaire</title>
</head>

<h1>Update your Questionnaire</h1>

<div class="row">
  <div class="span6 offset3">
		
    <% if current_user %>
      <%= form_for(@questionnaire) do |f| %>
        <%= render 'shared/questionnaire_error_messages' %>
        <%= render 'form' %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/logos' %>