<footer class="footer">
  <small>
    by Eliot Stone, Allison Troy, Steele Schauer, and Jacob Benedict
  </small>
  <nav>
    <ul>
      <%= link_to "About", about_path %> or
      <%= link_to "Contact", contact_path %>
    </ul>
  </nav>
</footer>