<footer class="footer">
  <small>
    by Eliot Stone, Allison Troy, and Steele Schauer
  </small>
  <nav>
    <ul>
      <%= link_to "About",   '#' %> or
      <%= link_to "Contact", '#' %>
    </ul>
  </nav>
</footer>