<footer class="footer">
  <small>
    by Steele Schauer, Eliot Stone, and Allison Troy
  </small>
  <nav>
    <ul>
      <%= link_to "About", about_path %> or
      <%= link_to "Contact", contact_path %>
    </ul>
  </nav>
</footer>