<footer class="footer text-center">
  <div class="waffle pull-left">
    <%= link_to image_tag("waffle.png", size: "70x55", alt: "Waffle"), about_path %>
    </div>

    <div class="fandmLogo pull-right">
      <%= link_to image_tag("fmlogo.jpg", size: "70x55", alt: "FandM"), 'http://www.fandm.edu/' %>
    </div><br />
    
    <p class="by-line">
        by Steele Schauer, Eliot Stone, and Allison Troy
    </p>
    <nav class="navbar">
        <div class="container center footer-menu">
            <ul class="nav">
              <li>
                  <%= link_to "About", about_path %>
              </li>
              <li>
                  <%= link_to "Contact", contact_path %>
              </li>
            </ul>
        </div>
    </nav>
</footer>
